# Python data structure and Boolean
 - boolean and logical operator
 - List
 - Comparison operator
 - Dictionary
 - Tupels
 - Sets

# Boolean variables
Boolean variable two constant value True and False

In [1]:
print(True, False)

True False

In [2]:
type(True)

bool

In [3]:
str = "Prasad Devadiga"

In [6]:
print(str.isalpha())
print(str.startswith('P'))
print(str.endswith('P'))
print(str.istitle())

False
True
False
True

### Boolean and Logical operator

In [7]:
True and True

True

In [8]:
True and False

False

In [9]:
str_example = "Hello world"
my_str = "Prasad"

In [10]:
my_str.isalpha() or str_example.isnum()

True

## Lists
A list is datastructure in Python that is mutable or changeble ordered sequesnce of elements. Each element inside of a list is called item. Lists are defined by havinf values between square bracket []

In [12]:
lst_example = ["Prasad", "Devadiga"]
type(lst_example) == list

True

In [13]:
lst = ["English", "Hindi", 100, 50]
lst

['English', 'Hindi', 100, 50]

In [15]:
lst.append("Maths")
lst.append(100)
lst

['English', 'Hindi', 100, 50, 'Maths', 100]

In [17]:
len(lst)

6

In [18]:
lst.insert(1, "Social")
lst

['English', 'Social', 'Hindi', 100, 50, 'Maths', 100]

In [20]:
lst[3]

100

### Append

In [29]:
lst.append("Sceince")
lst

[100, 'Maths', 50, 100, 'Hindi', 'Social', 'English', 'Sceince', 'Sceince']

### Extend

In [38]:
lst = [1,2,2,3,2,4,5,6]
lst.extend([9,10])

In [39]:
lst

[1, 2, 2, 3, 2, 4, 5, 6, 9, 10]

### Operations we can do on list

In [40]:
sum(lst)

44

In [41]:
lst.pop()

10

In [42]:
lst.pop(0)

1

In [44]:
# Count - find the occurance of the element
lst.count(2)

3

In [45]:
# find the minimum element in the list
min(lst)

2

In [46]:
# find the maximum element in the list
max(lst)

9

In [52]:
# return the first index of item 2.. range from 0 to 3
lst.index(2, 0,3)

0

In [54]:
len(lst)

8

In [56]:
lst*2

[2, 2, 3, 2, 4, 5, 6, 9, 2, 2, 3, 2, 4, 5, 6, 9]

# Sets
Set is unordered collection data type that is iterable, mutable and has no duplicate elements. Python's set class represent the mathematical notion of a set. This is based on data structure know as hash table.

In [59]:
## empty set
set_var = set()
print(type(set_var))

<class 'set'>

In [64]:
set_var = {"prasad", "Devadiga", "Prasad", "Devadiga"}
print(set_var)

{'Prasad', 'prasad', 'Devadiga'}

In [63]:
set_var = {1,2,3,4,3,2}
print(set_var)

{1, 2, 3, 4}

In [83]:
set_var.add("Kadri")
print(set_var)

{'Prasad', 'prasad', 'Kadri', 'Devadiga'}

### Set operations

In [84]:
set1 = {1,2,3,4,5,6}
set2 = {1,2,3,4,5,6,7,8,9,0}

In [85]:
set2.difference(set1)

{0, 7, 8, 9}

In [86]:
set2.intersection(set1)

{1, 2, 3, 4, 5, 6}

In [87]:
set2.difference_update(set1)
print(set2)

{0, 7, 8, 9}

# Disctionaries
Dictionary is a collection which is unordered, changeble and indexed.

In [88]:
dic1 = {"name": "Prasad", "age": "34", "Place":"Kadri"}
print(dic1)

{'name': 'Prasad', 'age': '34', 'Place': 'Kadri'}

In [93]:
print(dic1.keys)
print(dic1["name"])

<built-in method keys of dict object at 0x7ffd3e02d7d0>
Prasad

In [99]:
for x in dic1: 
    print(x)

name
age
Place

In [101]:
for x in dic1.values(): 
    print(x)

Prasad
34
Kadri

In [102]:
for x in dic1.items(): 
    print(x)

('name', 'Prasad')
('age', '34')
('Place', 'Kadri')

In [103]:
dic1["name"] = "sunny"
print(dic1)

{'name': 'sunny', 'age': '34', 'Place': 'Kadri'}

In [104]:
dic1["education"] = "BE"
dic1

{'name': 'sunny', 'age': '34', 'Place': 'Kadri', 'education': 'BE'}

### Nested disctionary

In [105]:
stud1 = {"name": "Prasad", "age": "34"}
stud2 = {"name": "Ram", "age": "36"}
stud3 = {"name": "Raj", "age": "33"}

In [107]:
students = {"stud1": stud1, "stud2": stud2, "stud3": stud3}
students

{'stud1': {'name': 'Prasad', 'age': '34'},
 'stud2': {'name': 'Ram', 'age': '36'},
 'stud3': {'name': 'Raj', 'age': '33'}}

In [108]:
students["stud1"]

{'name': 'Prasad', 'age': '34'}

In [109]:
students["stud1"]["name"]

'Prasad'

# Tupels
- Cannot update the value once created
- Entire tupel can be replaced

In [111]:
my_tupel = ("Prasad", "Devadiga", "Kadri")
my_tupel

('Prasad', 'Devadiga', 'Kadri')

In [113]:
my_tupel = ("Ram", "Raj", "Mangalore")
my_tupel.count("Ram")

1