# Numpy
- General purpose array processing package
- Provides high performance multidimensional array object and tools 
- Fundamental package for scientific computing with Python

# Arrays
- Stores values of same data type
- This is main difference between list and array

In [7]:
import numpy as np

In [8]:
my_list = [1,2,3,4,5]

In [9]:
arr = np.array(my_list)
arr

array([1, 2, 3, 4, 5])

In [10]:
arr.shape

(5,)

In [34]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst3 = [11,12,13,14,15]

my_lst = np.array([lst1, lst2, lst3])
my_lst

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [35]:
my_lst.shape

(3, 5)

In [36]:
#Total should be same
my_lst.reshape(5,3)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [37]:
my_lst.shape

(3, 5)

## Indexing

In [38]:
arr = np.array([1,2,3,4,5])

In [39]:
# index start from 0
arr[3]

4

In [40]:
my_lst[:,:]

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [42]:
# 0:2 picks the 0th and 1st row.. 3:5 picks 3rd and 4th column
my_lst[0:2,3:5]

array([[ 4,  5],
       [ 9, 10]])

In [47]:
my_lst[1, 1:4]

array([7, 8, 9])

## In built function

In [52]:
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [59]:
arr = np.arange(0,50, step = 2)
arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48])

In [64]:
## gives 20 equal spacing points between 1 to 10
np.linspace(1,10,20)

array([ 1.        ,  1.47368421,  1.94736842,  2.42105263,  2.89473684,
        3.36842105,  3.84210526,  4.31578947,  4.78947368,  5.26315789,
        5.73684211,  6.21052632,  6.68421053,  7.15789474,  7.63157895,
        8.10526316,  8.57894737,  9.05263158,  9.52631579, 10.        ])

## Copy() and broadcasting

In [65]:
# replace the value 100 from 3rd index 
arr[3:] = 100
arr

array([  0,   2,   4, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100,
       100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100])

In [66]:
arr1 = arr
arr1[3:] = 200
arr1

array([  0,   2,   4, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200,
       200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200])

In [71]:
arr

array([  0,   2,   4, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200,
       200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200])

In [74]:
arr2 = arr.copy()
arr2[3:] = 300
arr2

array([  0,   2,   4, 300, 300, 300, 300, 300, 300, 300, 300, 300, 300,
       300, 300, 300, 300, 300, 300, 300, 300, 300, 300, 300, 300])

In [75]:
arr

array([  0,   2,   4, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200,
       200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200])