# Conditional

## Syntax<br>

<font size='4'>
if <font color='red'>some_condition:</font><br>
    &emsp;&emsp; execute some code<br>
elif <font color='red'> some_other_condition: </font><br>
    &emsp;&emsp; do something different <br>
else<font color='red'>:</font><br>
    &emsp;&emsp; do something else<br>
</font>

In [ ]:
name = "prasad"
if

In [3]:
x = [(4,1), (2,3), (4,9)]
x.sort()
print(x)

[(2, 3), (4, 1), (4, 9)]

In [4]:
if True:
    print("its true")

its true

In [5]:
hungry = True
if hungry:
    print("Feed me")
else:
    print("no need")

Feed me

In [9]:
loc = "Car shop"
if loc == "Car shop":
    print("Cars")
elif loc == "Bank":
    print("Withdraw")
else:
    print("I dont know")

Cars

# For loop
## Syntax<br>
<font size='4'>
my_iterable = [1, 2, 3]<br>
for <font color='red'>item_name</font> in my_iterable:<br>
&emsp;&emsp;print(<font color='red'>item_name</font>)
</font>

In [17]:
nums = [1,2,3,4,5,6,7,8,9,10]
for num in nums:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [18]:
# print even numbers
for num in nums:
    if num % 2 == 0:
        print(num)
    else:
        print(f"Odd number{num}")

Odd number1
2
Odd number3
4
Odd number5
6
Odd number7
8
Odd number9
10

In [19]:
list_sum = 0
for num in nums:
    list_sum += num
print(list_sum)

55

In [22]:
for letter in "Prasad Devadiga":
    print(letter)

P
r
a
s
a
d

D
e
v
a
d
i
g
a

#### Iterating tuples

In [28]:
tup = ((1,2),(3,4), (5,6), (7,8))
for num in tup:
    print(num)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

##### Tuple unpacking

In [29]:
for a, b in tup:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [33]:
mylist = [(1,2,3),(4,5,6), (7,8,9)]
for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [43]:
name = "Prasad"
for le in name:
    if le == "a":
        continue
    print(le)

P
r
s
d

In [48]:
name = "Prasad"
for le in name:
    if le == "s":
        break
    print(le)

P
r
a

### Dictionary

In [44]:
d = {"k1": 1, "k2": 2, "k3":3}
for item in d:
    print(item)

k1
k2
k3

In [45]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [46]:
for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

# While loop
## Syntax
while some_boolean_condition:<br>
&emsp;&emsp;do something<br>
else<br>
&emsp;&emsp;do something else

In [47]:
x=0
while x<5:
    print(f"x less than 5 and x is {x}")
    x += 1
else:
    print("X is greater than 5")

x less than 5 and x is 0
x less than 5 and x is 1
x less than 5 and x is 2
x less than 5 and x is 3
x less than 5 and x is 4
X is greater than 5

In [50]:
x=0
while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1

# Useful operator

### range

In [54]:
for num in range(2,10,2):
    print (num)

2
4
6
8

In [57]:
list(range(1,30,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

### enumerate

In [65]:
index_count = 0
word = 'abcd'
for letter in word:
    print(f"At index {index_count} the letter is {letter}")
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d

In [67]:
for index, letter in enumerate(word):
    print(letter)
    print(index)

a
0
b
1
c
2
d
3

### zip
zips ths list and create the tupel

In [ ]:
mylist1 = [1,2,4,5]
mylist2 = ["a", "b", "c","d"]

In [72]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (4, 'c'), (5, 'd')]

In [73]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(4, 'c')
(5, 'd')

### in

In [74]:
"x" in [1,2,3]

False

In [76]:
"x" in ["a","b","x"]

True

In [77]:
"a" in "prasad"

True

In [78]:
"mykey" in {"mykey":"val"}

True

In [81]:
d= {"key": 300}
300 in d.values()

True

### min and max

In [83]:
mylist = [10,2,3,12]
min(mylist)

2

In [88]:
max(mylist)

6

### importing libraries

In [89]:
from random import shuffle

In [90]:
mylist = [1,2,3,4,5,6]
shuffle(mylist)
mylist

[4, 6, 2, 1, 5, 3]

In [91]:
from random import randint
randint(1,100)

38

In [94]:
result= input("Enter a number")

Enter a number30

In [95]:
print(f"You have entered {result}")

You have entered 30

In [96]:
result

'30'

In [97]:
float(result)

30.0

In [99]:
mystring = "Hellow"
mylist = [x for x in mystring]
mylist

['H', 'e', 'l', 'l', 'o', 'w']

In [102]:
mylist = [x**2 for x in range(0, 20) if x%2 == 0]
mylist

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [105]:
celcius = [0,24,14,16]
fahrenheit = [((9/5)* temp + 32) for temp in celcius]
fahrenheit

[32.0, 75.2, 57.2, 60.8]